{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">Liste des utilisateurs</h1>
		</div>
	</div>
    
    <div class="container-fluid table-responsive text-white">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
	    {% endfor %}
        <table class="table table-bordered text-center text-white">
            <thead>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Rôles</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td><img src="{{ vich_uploader_asset(user, 'imageFile') }}" width="56em" height="56em"alt="{{ user.document }}" /></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{path("admin_user_update", {'id': user.id}) }}" class="btn btn-info mx-2 my-2 my-sm-0" >Modifier</a></td>
                    </tr>
                {% else %}
                    <p>Aucuns utilisateurs inscrits</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

