{% extends 'base.html.twig' %}

{% block title %}NominationYear index{% endblock %}

{% block body %}
    <h1>NominationYear index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateNominationYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nomination_year in nomination_years %}
            <tr>
                <td>{{ nomination_year.id }}</td>
                <td>{{ nomination_year.dateNominationYear ? nomination_year.dateNominationYear|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('nomination_year_show', {'id': nomination_year.id}) }}">show</a>
                    <a href="{{ path('nomination_year_edit', {'id': nomination_year.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nomination_year_new') }}">Create new</a>
{% endblock %}
