{% extends "base.html.twig" %}

{% block title %}Profil de l'administrateur{% endblock %}

{% block body %}
	<div class="container text-white mx-5">
		<div class="container">
			<h1 class="display-4">Votre profil administrateur</h1>
		</div>
	</div>

<div class="row text-center text-white">
	<div class="col-md-6">
		<div class="profile-img">
            <img src="/images/users/{{ adminprofil.getDocument() }}" alt="{{ adminprofil.getDocument()}}"/>
		</div>
	</div>
    <div class="col-md-6 text-white">
        <div class="row">
                <div class="col-md-6">
                    <label>Prénom:</label>
                </div>
                <div class="col-md-6">
                    <p>{{ adminprofil.getFirstName() }}</p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Nom:</label>
            </div>
            <div class="col-md-6">
                <p> {{ adminprofil.getLastName() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Code unique:</label>
            </div>
            <div class="col-md-6">
                <p> {{ adminprofil.getPersonalCode() }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
	<div class="col-md-4">
		<div class="profile-work">
			<p>Rôles</p>
            {% for role in adminprofil.getRoles() %}
                {{ role }}
            {% endfor %}
		</div>
	</div>
	<div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label>Adresse:</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getAddress() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Ville:</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getCity() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Phone</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getPhone() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>E-mail</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getEmail() }}</p>
            </div>
        </div>
	</div>
</div>


{% endblock %}

