<div class="container mt-3">
    <div class="row mt-4">
        <h1> MRM un monde meilleur </h1>
    </div>
    <div class="row mt-4">
        <img class="rounded" src="/imgWebSite/img01.jpg" width="100%" alt="foret">
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h2>Qui sommmes nous ?</h2>
            <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
        </div>
        <div class="col-6">
            <h2>Pour quoi faire ?</h2>
            <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
        </div>
    </div>
    <div id="app" ></div>
    <div class="row mt-5">
        <h2>Liste des votes par catégories</h2>
    </div>
    <div id="app"></div>
    <div class="row mt-5 d-flex justify-content-center">
        {% for ny in nominationsYears %}
            <div class="card mx-3 mt-3" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(ny.category, 'imageFile') }}" class="card-img-top" alt="foret">
                <div class="card-body">
                    <h5 class="card-title">{{ ny.category.category }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
