{% extends "base.html.twig" %}

{% block title %}Page categorie de votes pour utilisateur{% endblock %}


{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
    {{ include('home.html.twig') }}
{% endblock %}